html,
body {
height: 100%;
}

body {

}

.header {
    background: url('../img/white-carbon-fiber.png') repeat-x center top transparent;
}

.logo {
    background: url('../img/red-header.png') repeat-x center 60px transparent;
    text-align: center;
    padding-top: 25px;
}

.logo .back,
.logo .menu {
    width: 50px;
    height: 38px;
    display: inline-block;
    padding-top: 8px;
}

.logo .back {
    border-right: 1px solid #fff;
    margin-right: 20px;
    padding-right: 10px;
}

.logo .menu {
    border-left: 1px solid #fff;
    margin-left: 20px;
    padding-left: 10px;
}

.logo .menu-options {
    position: relative;
    display: inline-block;
    width: 0;
    top: 13px;
    left: -291px;
    z-index: 2;
}

.logo .menu-options ul {
    position: absolute;
    width: 300px;
    padding: 0;
    border: 1px solid #fff;
    border-bottom: 0;
}

.logo .menu-options li {
    list-style-type: none;
    border-bottom: 1px solid #fff;
}

.logo .menu-options a {
    display: block;
    text-align: left;
    padding: 10px 15px;
    background-color: #e00;
    color: #fff;
}

.logo .menu-options a:hover {
    background-color: red;
    text-decoration: none;
}

.container.index h1 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.container.index .sections {
    margin-top: 30px;
    padding: 0;
    text-align: center;
}

.container.index .sections li {
    list-style-type: none;
    display: inline-block;
    margin: 0 30px 30px 0;
}

.container.index .sections a {
    width: 284px;
    height: 239px;
    display: table-cell;
    background: url('../img/section-box.png') no-repeat center top transparent;
    text-align: center;
    padding: 30px;
    color: #000;
    position: relative;
}

.container.index .sections a:hover {
    text-decoration: none;
}

.container.index .sections .image {
    width: 224px;
    height: 130px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container.index .sections .image img {
    max-width: 224px;
    max-height: 130px;
}

.container.index .sections .name {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 20px 0;
    font-size: 18px;
    line-height: 16px;
}

.container.section .categories {
    padding: 0;
    margin-top: 40px;
}

.container.section .categories li {
    list-style-type: none;
    margin-bottom: 30px;
    text-align: center;
}

.container.section .categories h2 {
    color: #fff;
    background: url('../img/black-header.png') repeat-x center top transparent;
    height: 36px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
}

.container.section .categories li ul {
    background-color: #eee;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container.section .categories li ul li {
    list-style-type: none;
    margin: 10px;
    display: inline-block;
}

.container.section .categories li ul li a {
    width: 254px;
    height: 72px;
    display: table-cell;
    background: url('../img/product-box.png') no-repeat center top transparent;
    text-align: center;
    color: #000;
    padding: 5px;
}

.container.section .categories li ul li a:hover {
    text-decoration: none;
}

.container.section .categories li ul li a .image {
    width: 62px;
    height: 62px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-right: 2px;
}

.container.section .categories li ul li a .image img {
    max-width: 62px;
    max-height: 62px;
}

.container.section .categories li ul li a .name {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    width: 160px;
    height: 62px;
    font-size: 20px;
    line-height: 20px;
}

.container.product .col-md-8 {
    width: 65%;
}

.container.product .col-md-4 {
    width: 35%;
}

.container.product .carousel {
    background: url('../img/image-box.png') no-repeat center top transparent;
    height: 641px;
    width: 378px;
    text-align: center;
    padding: 10px 10px 55px;
    vertical-align: middle;
    display: table-cell;
}

.container.product .carousel-inner {
    height: 100%;
    width: 100%;
}

.container.product .carousel .item {
    text-align: center;
    height: 100%;
}

.container.product .carousel .item .image {
    width: 356px;
    height: 554px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container.product .carousel .item .image img {
    max-width: 350px;
    max-height: 550px;
}

.container.product .carousel-caption {
    bottom: -10px;
    left: 0;
    width: 356px;
    padding-bottom: 0;
    color: #333;
    text-shadow: none;
    font-size: 12px;
    font-weight: bold;
}

.container.product .carousel-indicators {
    bottom: 10px;
}

.container.product .carousel-indicators li {
    height: 16px;
    width: 16px;
    border: medium none;
    background-color: #888;
    margin: 0 3px;
}

.container.product .carousel-indicators .active {
    background-color: red;
}

.container.product .carousel-control {
    background-image: none;
    outline: none;
}

.container.product .carousel-inner > .item > img, 
.container.product .carousel-inner > .item > a > img {
    display: inline-block;
}

.container.product h1 {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
}

.container.product h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 20px;
}

.container.product .description {
    font-size: 16px;
}

.container.login {
    padding-top: 160px;
}

.logout {
    position: absolute;
    top: 8px;
    right: 20px;
}

.table .thumbnail {
    height: 46px;
    width: 46px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.table .thumbnail img {
    max-height: 40px;
    max-width: 40px;
}

.table ul {
    padding: 0;
}

.table ul li {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
}

.table select {
    border: inherit;
}

.table input[type="text"] {
    width: 100%;
}

.form-horizontal .thumbnail {
    height: 120px;
    width: 120px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.form-horizontal .thumbnail img {
    max-height: 116px;
    max-width: 116px;
}

.form-control[type="file"] {
    border-color: transparent;
    -webkit-box-shadow: none;
       -mox-box-shadow: none;
            box-shadow: none;
}